/* .rcw-conversation-container > .rcw-header {
  background-color: blue;
} */

.rcw-message > .rcw-response {
  background-color:  #a3eaf7;
  color: black;
}

.rcw-client {
  background-color: lightgoldenrodyellow;
}